.ant-space {
  float: right;
  margin: 5px;
}
.go_to_register {
  display: block;
  color: black;
  margin: 5px 10px;
}
svg {
  width: 32px;
  height: 32px;
}

.sidebar-item-style {
  transition: 0.6s;
}

.sidebar-item-style:hover {
  background: #7fadeb !important;
  color: #fff !important;
}

.sidebar-item-style:hover path {
  fill: #fff !important;
}

.child-controller {
  display: flex;
  flex-direction: column;
}
.our-partner-controller {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.btn_next {
  outline: none;
  position: relative;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  color: rgba(0, 0, 0, 0.88);
  width: 100%;
  margin-left: 0px;
  background: #ffffff;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.88);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  font-size: 14px;
  line-height: 1.5714285714285714;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
}
