.login_bg {
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  backdrop-filter: blur(100px) !important;
  -webkit-backdrop-filter: blur(100px) !important;
  }